/* PC */
@media screen and (min-width: 64em){
    
}


/* Tablet && Mobile*/
@media screen and (max-width: 63.9375em){
    .btn{
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
        font-size: 16px;
    }

    #footer .socials-list{
        font-size: 35px;
    }

    #footer .socials-list a{
        margin: 0 8px;
    }

    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }

    .contact-info{
        line-height: 2;
    }

    .contact-submit-btn{
        font-size: 16px;
    }

    .buy-submit-btn{
        font-size: 16px;
    }
}

/* Tablet */
@media screen and (max-wight: 63.9375em) and (min-wight: 46.25em){
    
}

/* Mobile */
@media screen and (max-width: 46.1875em){
    
    .s-mt-8{
        margin-top: 8px !important;
    }

    .s-full-width,
    .s-col-full{
        width: 100% !important;
    }

    #header{
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }

    #nav{
        display: block;
    }

    #nav > li{
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav {
        position: initial;
        background: #000;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #content .member-img{
        width: 60%;
    }
    .contact-form{
        margin-top: 20px;
    }
}
